[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.1"
isort = "==4.3.21"
pylint = "==2.5.0"
yapf = "==0.30.0"

[packages]
geopy = "==1.21.0"
googlemaps = "==4.3.1"
mapbox = "==0.18.0"
Pillow = "==7.1.2"
pipfile = "==0.0.2"
scipy = "==1.4.1"
setuptools = "==46.1.3"
